@font-face {
     font-family: "GodFather";
     src: url(./fonts/TheGodfather.ttf);
}

* {
     box-sizing: border-box;
     color: #444;
     
}
body {
     font-family: Arial, sans-serif;
     margin: 20px;
     background-color: #f4f4f4;
     letter-spacing: 1px;
     margin: 0;
     padding: 20px;
}
hr {
     border: none;
     border-top: 1px solid #ccc;
     margin: 20px 0;
}
a {
     color: hsl(184, 57%, 40%);
     text-decoration: none;
     font-weight: 600;
}

#cookie-accept {
     background-color: hsl(184, 57%, 40%);
     /* Green */
     border: none;
     /* color: rgb(0, 0, 0); */
     padding: 10px 24px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     font-weight: 600;
     margin: 4px 2px;
     cursor: pointer;
     border-radius: 12px;
}

#google-logo {
     display: block;
     width: 500px;
     height: auto;
     margin: 0px auto 20px auto;
}

#google-search {
     display: block;
     width: min(80%, 500px);
     padding: 15px 20px;
     border: 1px solid #ccc;
     border-radius: 40px;
     margin: 0 auto;
     margin-bottom: 15px;
}

#google-buttons {
    display: flex;
     justify-content: center;
     gap: 10px;
}

#google-search-button,
#google-lucky-button {
     background-color: #b1b1b1;
     color: #000000;
     font-size: 16px;
     padding: 10px 20px;
     border: none;
     border-radius: 40px;
     cursor: pointer;
     margin-left: 10px;
}


#centered-box {
     width: fit-content;
     height: fit-content;
     background-color: hsl(184, 57%, 40%);
     color:  hsl(0, 0%, 100%);
     font-size: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 12px;
     padding: 20px;
     margin: 20px auto; /* Center the box horizontally */
     box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.5),
          0 4px 6px rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.card {
     background-color: #fff;
     /* border: 1px solid #ccc; */
     border-radius: 8px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     padding: 20px;
     /* padding-left: 70px;      */
     margin: 20px 0;
}

/* #discord {
     width: 50px;
     float: left;
} */

.x-button {
     border: 1px solid #0f1419;
     border-radius: 50px;
     padding: 8px 16px;
     font: bold 1em sans-serif;
     /* color: #0f1419; */
}

.business.card  {
     width: 450px;
     /* border: 1px solid #000; */
     /* color: #5c4040; */
     display: flex;
     justify-content: space-around;
     margin: 20px auto;
     text-align: center;
     background-color: #f9f0f0;
     border-bottom: 1px solid #444;
}

/* utility classes */
.dashed-border {
     border: 2px dashed #4a9ebe;
}

