body {
     font-family: sans-serif;
}
.col {
     display: flex;
     flex-direction: column;
}

.row {
     display: flex;
     flex-direction: row;
}
.g5 {
     gap: 5px;
}
.g10 {
     gap: 10px;
}

.center {
     justify-content: center;
     align-items: center;
}
.justify-center {
     justify-content: center;
}
.item-center {
     align-items: center;
}

button {
     border: solid 1px #000000;
     background-color: #ffffff;
     padding: 5px 10px;
     font-weight: bold;
     font-family: sans-serif;
}
.underline {
     text-decoration: underline;
     /* increase the underline thickness and distance */
     text-underline-offset: 8px;
     text-decoration-thickness: 2px;
}
a {
     color: hsl(184, 57%, 40%);
     text-decoration: none;
     font-weight: 600;
}
