* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.card {
     height: 200px;
     background-color: #fff;
     border: 1px solid #ccc;
     border-radius: 8px;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     /* padding: 20px; */
     margin: 20px 0;
     display: flex;
     /* flex-direction: column; */
     gap: 10px;
     border: 1px solid #000;
}

.card-right {
     width: 70%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.card img {
     width: 30%;
     height: 100%;
     object-fit: cover;
     /* border-radius: 50%; */
     border: 1px solid #000;
     display: flex;
     align-items: center;
     justify-content: center;
}